.address {
  display: flex;
  justify-content: end;
}

.address__list {
  align-self: center;
  max-width: 240px;
  list-style: none;
  line-height: 135%;
  font-style: normal;
}

.no-bullit {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 40%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 91px 50px 93px 50px;
  text-underline-offset: 15%;
  font-size: 18px;
  font-weight: normal;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style-type: circle;
}

.header__logo-link {
  justify-self: center;
  display: flex;
  background-size: cover;
  width: 31%;
  object-fit: contain;
}

.cover {
  display: grid;
  grid-template-rows: 0.54fr 3.5fr 1fr;
  position: relative;
  padding: 0 50px 0 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  min-height: 758px;
  max-width: 1440px;
  width: 100%;
}

.cover__heading {
  grid-row: 2/3;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
}

.space-around-letter {
  letter-spacing: 0.61em;
}

.center-aligned-heading {
  align-self: center;
  line-height: 100%;
}

.right-side-aligned-heading {
  text-align: right;
  line-height: 100%;
}

.null-spacing-letter {
  letter-spacing: 0;
}

.cover__content {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 78px;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

.cover__introduction {
  grid-column: 1/2;
  align-self: center;
  text-align: end;
  word-spacing: 0.8em;
}

.cover__button {
  grid-column: 2/3;
  align-self: center;
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

.lots__card-list-section {
  display: flex;
  flex-direction: column;
  padding-top: 182px;
}

.lots__heading {
  padding-left: 90px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  align-self: center;
  max-width: 1440px;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  padding: 26px 50px 0 50px;
}

.lots__card-link {
  text-decoration: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 430px;
  flex-grow: 1;
  color: #fff;
}

.lots__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.film {
  background-image: url(../images/card-lot-01.jpg);
}

.book {
  background-image: url(../images/card-lot-02.jpg);
}

.picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-heading {
  padding: 51px 40px 0 40px;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 10%;
}

.lots__card-text {
  z-index: 1;
  font-weight: normal;
  font-size: 20px;
  padding: 0 40px 50px 40px;
}

.lots__link {
  width: fit-content;
  padding-left: 90px;
  padding-top: 30px;
  text-underline-offset: 16%;
  font-size: 20px;
  font-weight: normal;
  line-height: 135%;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  padding: 178px 50px 0 50px;
  max-width: 1440px;
}

.about__logo-link {
  justify-self: center;
  display: flex;
  justify-content: center;
  background-color: black;
  background-position: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__image {
  width: 62%;
}

.about__text {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: normal;
}

.about__heading {
  align-self: center;
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 0;
  text-underline-offset: 15%;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__links-list-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__links-list-social-icon {
  height: 48px;
  width: 48px;
}
